Library
Assembly-CSharp.csproj
Temp
VasterThanEmpires.sln
obj
iosbuild
osxbuild
osxbuild.app
Assembly-CSharp-Editor.csproj
VasterThanEmpires.userprefs
Assets/StreamingAssets
Assets/Unity-Logs-Viewer/ReporterDocumentation
